---
import { getCollection } from 'astro:content';
import MosaicItem from '../components/MosaicItem.astro';
import Layout from '../layouts/Layout.astro';
const allAcro = await getCollection('acro');
// console.log('allAcro', allAcro)
---

<Layout title="Welcome to Astro.">
	<main class="grid grid-cols-3 gap-x-5">
		{allAcro.map(a=>( 
			<MosaicItem title={a.data.name} level={a.data.level} p="/" img={a.data.image} />
		))}
	</main>
</Layout>

  