---
import { getCollection } from 'astro:content'
import Mosaic from '../components/Mosaic.astro'
import Layout from '../layouts/Layout.astro'
const allAcro = await getCollection('acro')
export const prerender = false
const q = Astro.url.searchParams.get('q') ?? undefined
// console.log('q', q, Astro.url.searchParams, Astro.params)
---

<Layout title="Acroyoga Wiki">
	<!-- <Search id="search" className="pagefind-ui" uiOptions={{ showImages: true }} /> -->
	<main>
		<Mosaic items={allAcro} />
	</main>
</Layout>
