---
import MosaicItem from '../components/MosaicItem.astro';
import birdImg from '../images/bird-acroyoga_10a960c0fc.png';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="grid grid-cols-3 gap-x-5">
		<MosaicItem title='Bird' level="easy" p="/" img={birdImg} />
		<MosaicItem title='Bird' level="easy" p="/" img={birdImg} />
		<MosaicItem title='Bird' level="easy" p="/" img={birdImg} />
	</main>
</Layout>

  