---

---

<form action="" class="p-2">
	<input
		class="rounded-md pl-2"
		type="search"
		min="2"
		max="24"
		name="search"
		id="search"
		placeholder="search here"
	/>
</form>

<script>
	import DOMPurify from 'dompurify'
	const form = document.querySelector('form')
	form?.addEventListener('submit', (e) => {
		e.preventDefault()
		const formData = new FormData(form)
		const searchTerm = DOMPurify.sanitize(formData.get('search')?.toString())
		if (!searchTerm || searchTerm.length === 0) return
		const url = new URL('/search', window.location.origin)
		url.searchParams.set('q', searchTerm)
		window.location.assign(url.toString())
	})
</script>
